RewriteEngine On

# If request is NOT a real file
RewriteCond %{REQUEST_FILENAME} !-f

# If request is NOT a real directory
RewriteCond %{REQUEST_FILENAME} !-d

# Send everything to index.php
RewriteRule ^ index.php [QSA,L]
